@charset "UTF-8";

/* ====================
   共通
==================== */

body{
    background-image:url(beauty/背景.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    background-attachment:fixed;
}

@media (max-width:768px){
    body{
        background-size:100% auto;
        background-repeat:repeat-y;
        background-position:center top;
        background-attachment:scroll;
    }
}


img{
    max-width:100%;
    height:auto;
}

/* ====================
   予約ボタン
==================== */

.reserve-bar{
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    background:rgba(0,0,0,0.6);
    color:white;
    text-align:center;
    padding:18px 0;
    letter-spacing:3px;
    text-decoration:none;
    border-top:1px solid rgba(255,255,255,0.3);
    z-index:999;
}

.reserve-bar:hover{
    background:rgba(212,175,55,0.9);
}

/* ====================
   HEADER / HERO
==================== */

.header{
    color:white;
    text-shadow:
    3px 3px 0 black,
    -3px -3px 0 black;
    font-size:100px;
    font-weight:bold;
    text-align:center;
}

.header img{
    display:block;
    width:100%;
    margin:0 auto;
}

.hero{
    color:black;
    text-shadow:3px 3px 0 white;
    font-size:50px;
    text-align:center;
}

/* ====================
   TOPボタン
==================== */

.top-btn{
    position:fixed;
    right:20px;
    bottom:100px;
    width:80px;
    height:80px;
}

.top-btn img{
    width:100%;
    height:100%;
    object-fit:cover;
    border-radius:50%;
}

/* ====================
   CONCEPT
==================== */

.concept{
    color:black;
    display:block;
    justify-self:center;
    padding-bottom:30px;
    text-align:center;
}

.conceptphoto{
    width:500px;
    max-width:100%;
    height:auto;
    justify-content:center;
}


/* ====================
   MENU
==================== */

.menu{
    color:black;
}

.menu img{
    width:300px;
    max-width:100%;
    height:auto;
}

.menu-inner a{
    color:black;
    text-decoration:none;
    font-weight:bold;
}

.category-title{
    width:150px;
    flex-shrink:0;
}

.menu-sticky{
    position:sticky;
    top:100px;
}

.cut,
.color,
.parma,
.tritment{
    display:flex;
    gap:20px;
    justify-content:center;
    padding-bottom:30px;
}

.cut .card,
.color .card,
.parma .card,
.tritment .card{
    width:300px;
    text-align:center;
    border:none;
    padding:10px;
}

.cut img,
.color img,
.parma img,
.tritment img{
    width:100%;
    height:300px;
    object-fit:cover;
}

.menu-inner img{
    transition:0.2s;
}

@media (max-width:768px){

    .cut,
    .color,
    .parma,
    .tritment{
        flex-direction:column;
        align-items:center;
    }

}


/* ====================
   STYLE
==================== */

.carousel-inner{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:20px;
    min-width:0;
}

.style-card{
    width:300px;
    text-align:center;
    border:none;
    padding:10px;
}

.style-card img{
    width:100%;
    height:300px;
    object-fit:cover;
}

/* PC */
.style-pc .style-card{
    display:none;
}

.style-pc .style-card.left,
.style-pc .style-card.right{
    display:block;
    opacity:0.5;
    transform:scale(0.8);
}

.style-pc .style-card.active{
    display:block;
    opacity:1;
    transform:scale(1);
}

.style-pc{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:10px;
}

.style-pc .style-card{
    flex-shrink:0;
}

.left{
    order:1;
}

.active{
    order:2;
}

.right{
    order:3;
}

/* SP */
.style-sp{
    display:none;
}

.styleSwiper{
    width: 100%;
    max-width:350px;
    margin:0 auto;
}

.styleSwiper .style-card{
    border:none;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
}

.styleSwiper img{
    width:100%;
    height:300px;
    object-fit:cover;
}

@media (max-width:1100px){
    .style-pc{
        display:none;
    }
    
    .style-sp{
        display:block;
    }
}

/* ====================
   STAFF
==================== */

.staff-inner{
    display:flex;
    flex-direction:column;
    gap:20px;
    justify-content:center;
    padding-bottom:30px;
    align-items:center;
}

.staff-card{
    display:flex;
    gap:20px;
    align-items:center;
    width:700px;
    border:none;
    padding:20px;
}

.staff-card img{
    width:200px;
    height:auto;
    object-fit:cover;
    flex-shrink:0;
}

.staff-info{
    display:flex;
    flex-direction:column;
    gap:10px;
}

.staff-inner img{
    transition:0.2s;
}

/* ====================
   MAP
==================== */

.map{
    max-width:1000px;
    margin:0 auto;
    text-align:center;
    padding-bottom:30px;
}

.map iframe{
    display:block;
    margin:0 auto;
    max-width:100%;
}

/* ====================
   NAV（PC）
==================== */

.nav{
    display:none;
}

.nav-inner{
    display:block;
}

.nav-inner ul{
    display:flex;
    justify-content:flex-end;
    gap:20px;
    list-style:none;
}

.nav-inner a{
    text-decoration:none;
    font-weight:bold;
}

.nav-inner a,
.nav-inner a:visited{
    color:black;
}

.menu-nav a,
.menu-nav a:visited,
.menu-nav a:focus{
    color:black;
}

/* ====================
   CONTACT
==================== */

.contact{
    text-align:center;
    padding-bottom:20px;
}

.contact-inner{
    width:500px;
    margin:0 auto;
    padding:20px;
    border:1px solid #000;
    background-color:gray;
}

.contact-inner p{
    text-align:left;
}

.form input{
    width:100%;
    height:40px;
}

.form textarea{
    width:100%;
    height:150px;
    resize:none;
}

/* ====================
   SNS
==================== */

.sns{
    display:flex;
    justify-content:center;
    gap:20px;
}

.sns img{
    width:50px;
    height:50px;
}

/* ====================
   FOOTER
==================== */

.footer{
    text-align:center;
    padding-bottom:80px;
}

/* ====================
   HOVER
==================== */

@media (hover:hover){

    .menu-inner img:hover{
        transform:scale(1.2);
    }    

    .nav-inner a:hover,
    .menu-nav a:hover{
        color:red;
    }
}

/* ====================
   SP
==================== */

@media (max-width:768px){

    .top-btn{
        width:50px;
        height:50px;
        right:10px;
        bottom:60px;
    }

    .nav{
        display:block;
        font-size:28px;
        cursor:pointer;
    }

    .nav-inner{
        display:none;
    }

    .nav-inner.active{
        display:block;
    }

    .nav-inner ul{
        flex-direction:column;
        align-items:center;
    }

    .header{
        font-size:60px;
    }

    .hero{
        font-size:20px;
    }

    .category-title{
        width:100%;
        margin-left:0;
        text-align:left;
    }

    .contact-inner{
        width:90%;
    }

    .parma,
    .tritment,
    .cut,
    .color{
        flex-direction:column;
    }

    .staff-card{
    width:90%;
    flex-direction:column;
}

.reserve-bar{
    padding:12px 0;
    font-size:14px;
}

#prev,
#next{
    display:none;
}

.menu-sticky{
    position:static;
}

    .style-card.left,
    .style-card.right{
        display:none;
    }

    .style-card.active{
        width:90%;
        max-width:300px;
    }

}